@model IPagedList<Blog.Models.CodeFirst.Post>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}

                
  <img id="header-image" src="~/Content/second-movement.svg" />

  <div class="container" id="index-top">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">

        @*<a class="sticky-search" data-placement="bottom" data-toggle="popover" data-title="Login" data-container="body" type="button" data-html="true" href="#" id="login">Search</a>

        <div id="popover-content" class="hide">
          <form class="form-inline" action="@Url.Action("Index", "Posts", new { searchTerm=ViewBag.Search })">
            <div class="form-group">
              <input placeholder="Search This Blog..." type="text" name="searchTerm" value="@ViewBag.Search" class="form-control" />
              <input type="submit" value="Search" class="btn btn-primary" />
            </div>
          </form>
        </div>*@





      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row spacer"></div>
  @foreach (var item in Model)
  {
      <div class="row">
          @if (item.MediaUrl != null)
          {
            <div class="col-sm-4">
              <img class="img-border img-responsive" src="@Url.Content(item.MediaUrl)" alt="" />
            </div>
            <div class="col-sm-8">
              <div class="col-sm-12">
                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                <p class="post-date">
                  <span class="glyphicon glyphicon-time"></span>
                  @item.Created.ToString("dddd, MMMM dd, yyyy")
                  <span>
                    @if (User.IsInRole("Admin"))
                    {
                        <button class="btn btn-sm green-btn">
                          <i class="fa fa-pencil-square-o"></i>
                          @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </button>
                        <button class="btn btn-sm green-btn">
                          <i class="fa fa-times"></i>
                          @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </button>
                    }
                  </span>
                </p>
              </div>
              <div class="excerpt">
                <p>@Html.Raw(item.Body)</p>
              </div>
              <div>
                @Html.ActionLink("Read More", "Details", new { slug = @item.Slug }, new { @class = "btn btn-primary read-more" })
              </div>
            </div>
          }
          else
          {
            <div class="col-sm-12">
              <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
              <p class="post-date">
                <span class="glyphicon glyphicon-time"></span>
                @item.Created.ToString("dddd, MMMM dd, yyyy")
                <span>
                  @if (User.IsInRole("Admin"))
                  {
                      <button class="btn btn-sm green-btn">
                        <i class="fa fa-pencil-square-o"></i>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                      </button>
                      <button class="btn btn-sm green-btn">
                        <i class="fa fa-times"></i>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                      </button>
                  }
                </span>
              </p>
              <div class="excerpt">
                <p>@Html.Raw(item.Body)</p>
              </div>
              @Html.ActionLink("Read More", "Details", new { slug = @item.Slug }, new { @class = "btn btn-primary read-more" })
            </div>
          }
        
      </div>
      <div class="row">    
        <div class="col-sm-12">
            <hr class="blog-ridges" />
        </div>
      </div>
      

  }
    <div class="row center-button"><a class="comment-date pill-button" href="#">back to top</a></div>
</div>

<!-- PagedList -->
@if (Model.PageCount > 1)
{
    <p class="pages">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchFilter=ViewBag.Search }))</p>
}

@section Scripts {
  <script>
    $(document).ready(function () {

      $(".excerpt").dotdotdot({
        /*	The text to add as ellipsis. */
        ellipsis: '... ',

        /*	How to cut off the text/html: 'word'/'letter'/'children' */
        wrap: 'word',

        /*	Wrap-option fallback to 'letter' for long words */
        fallbackToLetter: true,

        /*	jQuery-selector for the element to keep and put after the ellipsis. */
        after: null,

        /*	Whether to update the ellipsis: true/'window' */
        watch: false,

        /*	Optionally set a max-height, can be a number or function.
          If null, the height will be measured. */
        height: 200,

        /*	Deviation for the height-option. */
        tolerance: 0,

        /*	Callback function that is fired after the ellipsis is added,
          receives two parameters: isTruncated(boolean), orgContent(string). */
        callback: function (isTruncated, orgContent) { },

        lastCharacter: {

          /*	Remove these characters from the end of the truncated text. */
          remove: [' ', ',', ';', '.', '!', '?'],

          /*	Don't add an ellipsis if this array contains 
            the last character of the truncated text. */
          noEllipsis: []
        }
      });
    });
  </script>



}

@*
    // if you need to limit to a specific role...
    @if (User.IsInRole("Admin")) {
      @Html.ActionLink("Create New", "Create")
    }

              @Html.DisplayNameFor(model => model.Created)
              @Html.DisplayNameFor(model => model.Updated)
              @Html.DisplayNameFor(model => model.Title)
              @Html.DisplayNameFor(model => model.Body)
              @Html.DisplayNameFor(model => model.MediaUrl)
              @Html.DisplayNameFor(model => model.Slug)
              @Html.DisplayNameFor(model => model.Category)
  @foreach (var item in Model) {
              @Html.DisplayFor(modelItem => item.Created)
              @Html.DisplayFor(modelItem => item.Updated)
              @Html.DisplayFor(modelItem => item.Title)
              @Html.Raw(item.Body)
              @Html.DisplayFor(modelItem => item.MediaUrl)
              @Html.DisplayFor(modelItem => item.Slug)
              @Html.DisplayFor(modelItem => item.Category)
              @Html.ActionLink("Edit", "Edit", new { id=item.Slug }) |
              @Html.ActionLink("Details", "Details", new { slug=item.Slug }) |
              @Html.ActionLink("Delete", "Delete", new { id=item.Slug })
*@
